{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1> ABOUT THE OASIS BLOG </h1>

<p>Oasis were an English rock band formed in Manchester in 1991. Developed from an earlier group, the Rain, the band originally consisted of Liam Gallagher (vocals, tambourine), Paul "Bonehead" Arthurs (guitar), Paul "Guigsy" McGuigan (bass guitar), and Tony McCarroll (drums). Upon returning to Manchester, Liam's older brother, Noel Gallagher (lead guitar, vocals) joined as a fifth member, which formed the band's core and settled line-up. During the course of their existence, they have undergone various line-up changes.  </p>

<p>Oasis have had eight UK number-one singles and eight UK number-one albums. They have won seventeen NME Awards, nine Q Awards, four MTV Europe Music Awards and six Brit Awards, including one in 2007 for Outstanding Contribution to Music and one for the Best Album of the Last 30 Years–for (What's the Story) Morning Glory?–as voted by BBC Radio 2 listeners; (What's the Story) Morning Glory? is also the fifth best-selling album in UK chart history, and was the UK's biggest-selling album of the 1990s. They have been nominated for three Grammy Awards. As of 2009, Oasis have sold over 75 million records worldwide.[6] The band were listed in the Guinness World Records book in 2010 for "Longest Top 10 UK Chart Run by a Group" after an unprecedented run of 22 top 10 hits in the UK.[7] The band also holds the Guinness World Record for the most successful act in the UK between the years 1995 and 2005, spending 765 weeks in the top 75 singles and albums charts.  </p>


</div>
{% endblock content %}

