{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>Oasis Albums</h2>
  <p>From the 90's</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Album</th>
        <th>released</th>
        <th>Chart Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Definitely Maybe</td>
        <td>1994</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Whats the Story</td>
        <td>1995</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Be Here Now</td>
        <td>1997</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}

